# Creado por https://www.toptal.com/developers/gitignore/api/python
# Editar en https://www.toptal.com/developers/gitignore?templates=python

# ## Pitón ###
# Archivos compilados por bytes / optimizados / DLL
__pycache__ /
* .py [ bacalao ]
* $py.clase

# Extensiones C
* .así

# Distribución / embalaje
.Pitón
construir /
desarrollar-huevos /
dist /
descargas /
huevos /
.huevos /
libre /
lib64 /
partes /
dist /
var /
ruedas /
pip-wheel-metadatos /
compartir / ruedas de pitón /
* .huevo-info /
.instalado.cfg
* .huevo
MANIFIESTO

# PyInstaller
#   Por lo general, estos archivos están escritos por un script de python a partir de una plantilla
#   antes de que PyInstaller construya el exe, para inyectarle fecha/otra información.
* .manifiesto
* .spec

# Registros del instalador
pip-log.txt
pip-eliminar-este-directorio.txt

# Pruebas unitarias / informes de cobertura
htmlcov /
.tox /
.nox /
.cobertura
.cobertura. *
.cache
nosetests.xml
cobertura.xml
* .portada
* .py, portada
.hipótesis /
.pytest_cache /
pytestdebug.log

# Traducciones
* .mo
* .olla

# Cosas de Django:
* .registro
configuración_local.py
db.sqlite3
db.sqlite3-journal

# Cosas del matraz:
instancia /
.webassets-cache

# Cosas chatarra:
.scrapy

# documentación de la esfinge
documentos / _build /
doc / _construir /

# PyBuilder
objetivo /

# Jupyter
.ipynb_puntos de control

##IPython
perfil_predeterminado /
ipython_config.py

##pyenv
.python-versión

# pipenv
#    De acuerdo con pypa/pipenv#598, se recomienda incluir Pipfile.lock en el control de versiones.
#    Sin embargo, en caso de colaboración, si tiene dependencias específicas de la plataforma o dependencias
#    al no tener soporte multiplataforma, pipenv puede instalar dependencias que no funcionan, o no
#    instalar todas las dependencias necesarias.
# Pipfile.lock

#PEP 582; utilizado por, por ejemplo, github.com/David-OConnor/pyflow
__pypackages__ /

# cosas de apio
celerybeat-horario
celerybeat.pid

# SageMath analiza archivos
* .sage.py

# Ambientes
.env
.venv
env /
venv /
ENV /
env.bak /
venv.bak /
pythonenv *

# Configuración del proyecto Spyder
proyecto .spyder
.proyecto espía

# Configuración del proyecto de cuerda
.ropeproject

# documentación mkdocs
/ sitio

# mipy
.mypy_cache /
.dmypy.json
dmypy.json

# Comprobador de tipo Pyre
.pira /

# analizador de tipo estático pytype
.pytype /

# datos de perfil
.profe

# entorno virtual
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Pitón
[ Bb ] en
[ yo ] ncluir
[ ll ] ib
[ ll ] ib64
[ ll ] local
[ Ss ] guiones
pyvenv.cfg
.venv
pip-selfcheck.json


# Fin de https://www.toptal.com/developers/gitignore/api/python